<section class="categories">
  <div class="categories__container">
    <div class="triple-img">
      <img
        src="https://s3-alpha-sig.figma.com/img/61bd/66e9/1d093c6da0422a7fb248facbc1d21950?Expires=1702252800&Signature=MX6EheTW3InM8hhOFrCpjqB28Aop2r9uAcnjguaeIZv5ccRhFYDWbL0SSSXEXKM7k7O8cYEJwwxZuMBEotx~n1BW5fVVxd97Low5jyvKqBBIrH2n4~cRwPHTbEH7OtvB0jX8WI-id7TwttO7eks6GNXyeuODdZK-5qAUYrr9Wcb7jF3Yj4DwXA6SUJBzBAKxm5bbcbYgoyCc48w-L4WwyBgCeFzHlRPLfNLDakEsbfCKGMMlZp6exI1jnQQdaplYW-3QMRSpF-90NbliM5noeXhrlOCFPsz1Rehj1J~8L50AdcYeV02X1FdwzhexclKCmkw0FHurhy1g4OpD3oJvpw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
        alt="#" />
      <div class="two-img-container">
        <img
          class="two-img-container__item"
          src="https://s3-alpha-sig.figma.com/img/216d/8f43/5f3ddb1562644bc2c8853c077098c05a?Expires=1702252800&Signature=DnAms0xBl4c5wnQOQ9EW9OFvoz7ol6FMasz1kC-OFp12z1mnUPyG6IB16D8ikcoAwrkXHE7Yu5uZSsDQw-JEdMLuwp3o9UX1Y8LA3I3OXG59BfuTBVkiABNWH9ZCBZ3hTOMeY1LNE-wrxqvBVuQsmWu9XvU1Ir2XIPG3KQoXFmZGQCWxwTZSMxs9HcZEWbsQV0zYTV5a18ohyEFrKkL6rj8mERpK6vGV2~TIuEx8LENKawl7Up7xOPIpPTjSpgJHmdJPweFexveEEmDKDg4WAnWnFG-Pa4jG1LzLlqQwrUit4IcdbBDNb3b5GQBXXfLH3Kr-83cDQDa5ZDV1xeuZmw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
          alt="#" />
        <img
          class="two-img-container__item"
          src="https://s3-alpha-sig.figma.com/img/2bcd/8a08/09b3159a7ede375467be958e83e57086?Expires=1702252800&Signature=JqTWQXd95WK9YEwP2sddhrimaNGU9qMnpBsOX~v2H6~KWQy6ygz8JFgUOhdirncO1sPGtClYeVzyjLG4HzHG8nOxHUetE04ChdIsK8TMDlq~2vu93VCV3iCHj6s-8eH7Cm5WKx0h93TvUnM~0wuUKDYW0EE9tZQISKSROc-cCTy2D8bOpkp1qulPxeRxLeQF9kFH9x6aZJZ~pat4mkWVkpkLYs~9BKHWDnqLXgoQ5QS63MV1tPEOMUQBNuoEw6rGqamOu7BmL2q0~dfJafGjLBxGK5Utq7dV-D-IQHaEmDEOytlLjry3HVntCNzlzmcfdDViGmpwmJE3xeAODxg3Dw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
          alt="#" />
      </div>
    </div>
    <div class="one-img">
      <button class="btn btn-white">CATAGORY NAME</button>
    </div>
  </div>
</section>
