<footer class="footer">
  <div class="footer__container">
    <div class="contacts">
      <div class="contacts__title">YOUR LOGO</div>
      <div class="contacts__text">
        We earned a reputation of being good at what we do. Let us take your
        online shop to new dimension in success!
      </div>
      <div class="contacts__adress">
        <img src="" alt="" />
        Comilla, Bangladesh 3500
      </div>
      <div class="contacts__email">kawsarahmed0210@gmail.com</div>
      <div class="contacts__phone">01647470457</div>
      <div class="contacts__social">
        <img
          src="https://cdn-icons-png.flaticon.com/128/1384/1384005.png"
          alt=""
          class="social-icon" />
        <img
          src="https://cdn-icons-png.flaticon.com/128/1384/1384031.png"
          alt=""
          class="social-icon" />
        <img
          src="https://cdn-icons-png.flaticon.com/128/733/733635.png"
          alt=""
          class="social-icon" />
        <img
          src="https://cdn-icons-png.flaticon.com/128/3536/3536569.png"
          alt=""
          class="social-icon" />
      </div>
    </div>
    <div class="links">
      <div class="updates">
        <div class="updates__title">RECIVE EMAIL UPDATES</div>
        <input
          type="text"
          placeholder="Your Email Address"
          class="updates__input" />
      </div>
      <div class="pages">
        <div class="pages__column">
          <div class="pages__column-title">SHOP</div>
          <a href="" class="pages__column-link">Shop</a>
          <a href="" class="pages__column-link">Collection</a>
          <a href="" class="pages__column-link">Outlet</a>
          <a href="" class="pages__column-link">Lookbook</a>
        </div>
        <div class="pages__column">
          <div class="pages__column-title">HELP</div>
          <a href="" class="pages__column-link">FAQ</a>
          <a href="" class="pages__column-link">Privecy Policy</a>
          <a href="" class="pages__column-link">Tearms and conditions</a>
          <a href="" class="pages__column-link">Return and Exchanges</a>
        </div>
        <div class="pages__column">
          <div class="pages__column-title">ABOUT</div>
          <a href="" class="pages__column-link">Journal</a>
          <a href="" class="pages__column-link">Our Story</a>
          <a href="" class="pages__column-link">Contact</a>
          <a href="" class="pages__column-link">Store Location</a>
        </div>
      </div>
    </div>
  </div>
  <dit class="rights">
    Copyright © 2020 . Your company name All rights reserved
  </dit>
</footer>
