<header class="header">
  <div class="logo">YOUR LOGO</div>
  <nav class="links-menu">
    <a href="#" class="links-menu__link">HOME</a>
    <a href="#" class="links-menu__link">SHOP</a>
    <a href="#" class="links-menu__link">LOOKBOOK</a>
    <a href="#" class="links-menu__link">FEATURES</a>
    <a href="#" class="links-menu__link">PAGES</a>
    <a href="#" class="links-menu__link">BLOG</a>
  </nav>
  <nav class="icons-menu">
    <img
      src="https://cdn-icons-png.flaticon.com/128/622/622669.png"
      alt="search"
      class="icons-menu__icon" />
    <img
      src="https://cdn-icons-png.flaticon.com/128/1077/1077035.png"
      alt="heart"
      class="icons-menu__icon" />
    <img
      src="https://cdn-icons-png.flaticon.com/128/3144/3144456.png"
      alt="trolley"
      class="icons-menu__icon" />
  </nav>
</header>
