<section class="hero-section">
  <div class="hero-section__content">
    <p class="hero-section__description">NEW TREND</p>
    <h1 class="hero-section__title">COLLUSION</h1>
    <p class="hero-section__description">
      An exclusive selection of this season's trends.
    </p>
    <div class="hero-section__buttons">
      <button class="btn">DISCOVER</button>
      <button class="btn">SHOP NOW</button>
    </div>
  </div>
</section>
