<section class="person-section">
  <div class="person-section__body">
    <div class="person-section__header">
      <div class="person-section__title">MEN’S FASHION</div>
      <div class="person-section__text">
        Shop our new arrivals from established brands
      </div>
    </div>
    <div class="person-section__row">
      <div class="person-section__column">
        <div class="item-person-section">
          <div class="item-person-section__icon">
            <img
              src="https://s3-alpha-sig.figma.com/img/74ee/41d6/2b57673bb35b8c113a752218ef54b0f4?Expires=1702252800&Signature=G10tEGbzwEmyOC6O4ISIRvemTM5U9tqNbojSi-26wzYArbxR-seKRo0ilrxVCynNF-zyIDShBpJSId9-h4euBJR8Uh4~KTYYzZTWwXW1Z~RIWc7fkNSX94wkWNR5hTVhBsqtxlBX2rnqprU6wEnkcmAN57-U3FJ5fqWsBUl4FIw3LeS9jPOLigSNuW43CT7WMdRJJNs1jqOufr6q5e~UV4tzusWN6YY0vwqDGupTIe-mTDjKnAXcb5tDD3yn212EpuvSZ3u5Y1xzTnPyRyh-5XDetKpi6KYi0Z26Kb3yn5bAauJ6xoRaOkOChrD5~Vj38eGTMT--weknqOB0ZKd66g__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
              alt="" />
          </div>
          <div class="item-person-section__title">IGURE</div>
          <div class="item-person-section__text">
            GREEN MUSCLE FIT POLO SHIRT
          </div>
          <div class="item-price">
            <div class="item-price__sale">$229.00</div>
            <div class="item-price__price">$129.00</div>
          </div>
        </div>
      </div>
      <div class="person-section__column">
        <div class="item-person-section">
          <div class="item-person-section__icon">
            <img
              src="https://s3-alpha-sig.figma.com/img/d042/c13a/bf9c8a8523673677fd814b8959a623c0?Expires=1702252800&Signature=d5jtZD7X7fS9hpN2rTNcU1kJHezVvnsMxlAYQ9HXg1Rf6UMrJC8hVO8I4QRfn4iNX7BbWmj9MwWC3trH7hiKJMJiLoPC9qNtuFh5dNP~sUk4btXj7K0JO-en3GL2hOsDbfYPpiLlzEOxvmCflUv4XnMS0gVgviM8VblGT3fXhMv8mkX6f1hGYVVrnvL5qwx6iNut~58kDfCy1DjYtyOMRuikHgLZe7CI~Ok~o-jGeYEEcIE4ODJNu1ZVuA-Fxhl4i8KHBBZLqL2pfDl7djybVYtYn8tIfFwYIzyoqVOnFH-to1zORjN~P~lhQGUcijD5JqyZSx85CWBxcDb4nB31mw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
              alt="" />
          </div>
          <div class="item-person-section__title">IGURE</div>
          <div class="item-person-section__text">
            GREEN MUSCLE FIT POLO SHIRT
          </div>
          <div class="item-price">
            <div class="item-price__sale">$229.00</div>
            <div class="item-price__price">$129.00</div>
          </div>
        </div>
      </div>
      <div class="person-section__column">
        <div class="item-person-section">
          <div class="item-person-section__icon">
            <img
              src="https://s3-alpha-sig.figma.com/img/497a/739d/32e37a54c374acd444d56466de76cf7c?Expires=1702252800&Signature=gcRe3z93Zm1rZsAp7TLg0FwD0cbihUTQ2eeaGEEm6id7OTgiA8VgVzKdCn4p-h3CfAdd-~YVGqvrdh~qGRA2pKjBCPzDbSW91QnltR~C6AwN9Jk7HSr6beU1E~AuxTlFiFYEgOxmK7QDXRAu62kPg81cXYpCkrl218chUU2-RuwfNJ55YVvhVYETZrubTcPjSdT4sSCgu1ojWLr8a86rjLO0jJ2Dk6MB8DcNh7VNgEHQFCrf4o9ANrdT1QlB~NhJsTVqbh~E87Asr3o5L1dtE19KBe1SrfKY2ZtvRjSIrLgdRIUMmF6DAQiVljSV77jqAi1A-CLlJDncYFAng-gNXw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
              alt="" />
          </div>
          <div class="item-person-section__title">IGURE</div>
          <div class="item-person-section__text">
            GREEN MUSCLE FIT POLO SHIRT
          </div>
          <div class="item-price">
            <div class="item-price__sale">$229.00</div>
            <div class="item-price__price">$129.00</div>
          </div>
        </div>
      </div>
      <div class="person-section__column">
        <div class="item-person-section">
          <div class="item-person-section__icon">
            <img
              src="https://s3-alpha-sig.figma.com/img/9d03/d6a5/1d93db5b7a238dbefc45146a00f97dc8?Expires=1702252800&Signature=J0Fbx1pp1oNqoaK6m7cS-kUqswDGUOpcxvSO-poKwbmu70GLblYL21PWCsc7bR7s0AQr8YBgmc6mwMSv85ypL1EReUJ-UjxwuhY6Hg9TXSjXWlKq5fabllyFO8lU5EazPIbOkncr7g9F4pR-LJMUqkBwDdJRfQBtKTzJClCMmR5mBPslTHnR7DC2iLQOjX1sZ3wCEcS75ldCf~nNGLGHcIZn760Yn1Ke3Yb212L8rr6UDUvqjQ31IkIstPOlTNt19DlOxMlfNn9NFLubJd4Z-tTSxtUIYUTq3WbsI6pLJ714B0bnd-uImkqECnNxhBK-T~k0S45~fsVETs1cHUFT3Q__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
              alt="" />
          </div>
          <div class="item-person-section__title">IGURE</div>
          <div class="item-person-section__text">
            GREEN MUSCLE FIT POLO SHIRT
          </div>
          <div class="item-price">
            <div class="item-price__sale">$229.00</div>
            <div class="item-price__price">$129.00</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
