<section class="tachen">
  <div class="hero-section__content">
    <p class="hero-section__description">OWN THE DAY</p>
    <h1 class="hero-section__title">TACHEN 19</h1>
    <div class="hero-section__buttons">
      <button class="btn">SHOP COLLECTION</button>
    </div>
  </div>
</section>
