<section class="person-section">
  <div class="person-section__body">
    <div class="person-section__header">
      <div class="person-section__title">WOMEN’S FASHION</div>
      <div class="person-section__text">
        Shop our new arrivals from established brands
      </div>
    </div>
    <div class="person-section__row">
      <div class="person-section__column">
        <div class="item-person-section">
          <div class="item-person-section__icon">
            <img
              src="https://s3-alpha-sig.figma.com/img/3580/9310/05cb91adac976733ead8973c0f7407b3?Expires=1702252800&Signature=TD9zEDKFskK16izgEq8BZodVA2ZnhDKXXGXs~6XAOBHz22eKDqvrLGRcK7QmXkkHkQRPrWUHb1-NvQm0n9mvimfQfE2V3bhu0Nao1-6m9L6des23J1QCZVkAG~r2M~bIHTPl58YV4CYeC9Ox9o7UO~Dgg~tP8q8WPST297areSfR780okY9RbX8obeU3uy2WW5WzowaL68rb3NR78hdKxGE0AeXb9ckcwK~Llf-ynNweEAQFb8q55-WXEmqM-qNB297-XrJHBloCW-YFnfjXie9G4Mi97EIk8DpVezjAw1rsVefhwy6IP87RTTHaBgrpQvsSdO0-Cw4aDNVWfpdTXw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
              alt="" />
          </div>
          <div class="item-person-section__title">IGURE</div>
          <div class="item-person-section__text">
            GREEN MUSCLE FIT POLO SHIRT
          </div>
          <div class="item-price">
            <div class="item-price__sale">$229.00</div>
            <div class="item-price__price">$129.00</div>
          </div>
        </div>
      </div>
      <div class="person-section__column">
        <div class="item-person-section">
          <div class="item-person-section__icon">
            <img
              src="https://s3-alpha-sig.figma.com/img/c678/d1de/3595846d9c5bc50ad2de24696ca553e5?Expires=1702252800&Signature=ih1FPHO7Zt5Wi0dz-XrlE138J7eQaz993Rkdev7vWVFyhg4OYyrqAG2HvNzJUP-KM2IEQ5D0YEWK9-4mXeHcgJC2vRYZ~b6ZHhN8y9c36rvmxUfOcFT7mLinmalVrCARbYmZXgzQMm2dzWwposOa4Cv6zjEzJevneF9JoQIBar87gJ5IlFGOXz7FW~44Mt7rn~msAfTAh9hJ5IynyEL~pzOtEze8MkwtJQSbaftUWaSBxxbfBN07tN8ywsh8R8AfkqYsuQ8hhnIRp6RpBjy5dVOOrk9NEBgx11dJ3uuQfpKIqU9nqmKwytsNQdnU8ty9nfqrETMSapFAteEONhrAXA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
              alt="" />
          </div>
          <div class="item-person-section__title">IGURE</div>
          <div class="item-person-section__text">
            GREEN MUSCLE FIT POLO SHIRT
          </div>
          <div class="item-price">
            <div class="item-price__sale">$229.00</div>
            <div class="item-price__price">$129.00</div>
          </div>
        </div>
      </div>
      <div class="person-section__column">
        <div class="item-person-section">
          <div class="item-person-section__icon">
            <img
              src="https://s3-alpha-sig.figma.com/img/3e14/c9f6/d6accaf1164bbcaf8618e9b0daf3944f?Expires=1702252800&Signature=JefZj31s9O8Zqq4tMGPFco4EZwdIRBUREuhK2kLPv4aq-LF05GlAxh7Z1TjPQEesSWb5YurnMywyNlhYJknFDJgbefYT5RrTdr5GYBYlhmx1iYmviVrYaYRgB-U3q2VQ7rEHFsTBVZS5QIqxhnCVsAkhtKAQyzRScfNsZxHu9sLxrJqDaANk~QbkaQTT9q0bPBa-zjwq3liiyw2urSY8DnkYWga2qr98ONw6c31QVZu32aUvJTyyiDvErZxe8D2Sl24IRraqx0Ud9ydbrigsrR3sDIEN~Y1m9BdC3FlSpI47hrnpCRpZXrDZLaAIAIThTga79vVKhHcX7oM93NybrA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
              alt="" />
          </div>
          <div class="item-person-section__title">IGURE</div>
          <div class="item-person-section__text">
            GREEN MUSCLE FIT POLO SHIRT
          </div>
          <div class="item-price">
            <div class="item-price__sale">$229.00</div>
            <div class="item-price__price">$129.00</div>
          </div>
        </div>
      </div>
      <div class="person-section__column">
        <div class="item-person-section">
          <div class="item-person-section__icon">
            <img
              src="https://s3-alpha-sig.figma.com/img/7752/ba07/52bc92eeb7f6e449433ac6babee4fa69?Expires=1702252800&Signature=jtK30ySB-pCGSZSqdnKd-RuESCBdPi9SrM~KrvGsjnQeqOWaD1OByfqvMkXcFR4hEOjBDH6hs1iDQ7fA8ZGAMYAemGRE8w7nheIHLrvO44hJWQAMtve4BqxQ1G-C5jdvHqlNYwz8A9SnnQ2OPVTJb3cIV7byzNmWh0Bxa86BPbhMV5qtpTFWwcedGPZlbqu6hHZ0Lt2aSWqviHbdeXNIfwBXNYOzjZTErYyA3i8UJN-u5BK3eo04ejIczm~rppBeafzkfhJTVs8VhEpgpOGES3V5qmytWBlFTkeqXoXK1cG2jZG56krde8ZRNGQqf9EF3Gzug9yopUDED278O~8uGw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
              alt="" />
          </div>
          <div class="item-person-section__title">IGURE</div>
          <div class="item-person-section__text">
            GREEN MUSCLE FIT POLO SHIRT
          </div>
          <div class="item-price">
            <div class="item-price__sale">$229.00</div>
            <div class="item-price__price">$129.00</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
