@import "./nullstyles.scss";
@import "./header.scss";
@import "./hero-section.scss";
@import "./categories.scss";
@import "./person-section.scss";
@import "./tachen.scss";
@import "./footer.scss";

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}
