.person-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;

  &__body {
    width: 1130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__header {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
  }
  &__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
  }
  &__text {
    max-width: 688px;
    color: #868585;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    line-height: 25.89px;
  }
  &__row {
    margin-top: 50px;
    display: flex;
    gap: 20px;
  }
  &__column {
    flex: 0 0 0 25%;
  }
}
.title {
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.95px;
  position: relative;
  text-align: center;
}
.item-person-section {
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__title {
    color: #000000;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
  }
  &__text {
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
  }

  .item-price {
    display: flex;
    gap: 20px;
    &__sale {
      font-size: 15px;
      font-weight: 300;
      line-height: 23px;
      letter-spacing: 0em;
      text-decoration: line-through;
    }
    &__price {
      font-size: 15px;
      font-weight: 300;
      line-height: 23px;
      letter-spacing: 0em;
      color: red;
    }
  }
}
