.tachen {
  margin-top: 50px;
  height: 745px;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  background-image: url("https://s3-alpha-sig.figma.com/img/14f9/d721/6a44dd7c2ede7e9d8a191405e388ee9c?Expires=1702252800&Signature=fx8i1rbLgcuvtfWvRbVTu2k6YjhDQh4Y45-bZ9ro7VXeUupQ0vGPvtyEXdKTYQF1CltmysZtMOfjUfiDEAixJRmInmWv6dgkgCwqqKijOr1Ui8sUF6FKN7sFF6vflvxr3h~BPiTJzyny-mxWTYI9HbC-cO38VyX7vX8VoSxjcnWWgvUjI5lvj-zTGDUWWj0A9xvFw~RHZdT5FdwY5hD6m~w-BUnMhi-2WxKSYjm8Z5UrWHLQIwoSh-UASCrci9YbjtuNR3rvS3JiYpNE15mkyP3C4cIfQgteoQHkkRTNLjhUEsweXteZT6bMe~Ba5ERFb6Xn~JMpMrZy5zvl9O1y3A__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  background-repeat: no-repeat;

  .hero-section__content {
    padding: 0 0 100px 100px;
  }
}
